# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
virtualenv/

# Test directories
tests/

# Flask-specific
instance/

# General files
.DS_Store
Thumbs.db

# node modules
node_modules/

# generate Css file
output.css

# Sensitive data
*.env
*.sqlite 
# Add other database files as needed

# Logs
*.log